.li {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 748px;
  height: 104px;
  background: #4b4b4b;
  border-radius: 12px;
  list-style: none;
  align-items: center;
}
.number-p {
  background: #40005d;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px 18px;
  margin-right: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.title-p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 14px;
}
.info {
  display: flex;
  align-items: center;
  width: 550px;
  justify-content: space-between;
}
.date-p {
  box-sizing: border-box;
  background: #2a2a2a;
  border: 1px solid #ffffff;
  border-radius: 10px;
  width: 82.11px;
  height: 80px;
  margin-left: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  line-height: 30px;
}
.btn {
  margin-right: 10px;
}
